/* body {
    background-color: red;
} */

/* 1 - Universal Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2 - Element Style */
input {
  margin-top: 10px;
}
textarea {
  margin-top: 10px;
}
select {
  margin-top: 10px;
}
button {
  margin-top: 10px;
}

/* 3 - Class Style */
.amro {
  color: brown;
}

/* 4 - ID Style */
#ruba {
  color: blue;
}
